html, body {  
    height: 100%;  
    margin: 0;  
    display: flex; /* Using flexbox for centering */  
    justify-content: center; /* Center horizontally */  
    align-items: center; /* Center vertically */  
    text-align: center;  
}  

.table-structure {  
    max-width: 400px;  
    padding: 20px;  
    border-radius: 5px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.separator {  
    width: 0.5px; /* عرض خط */  
    background-color: rgb(175, 170, 170);
}

.image-register
{
    width: 300px;
}

.logon-button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.logon-button:hover {
  background-color: #f7fafa;
}

.logon-button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

input[type="text"],  
input[type="password"],  
input[type="email"] {  
    border: 1px solid #ccc;  
    border-top: 0;  
    border-left: 0;  
    border-right: 0;  
    margin-bottom: 20px;  
    margin-top: 20px;  
}  

input:focus {  
    outline: none;  
    border-color: #4CAF50;  
}