html, body {  
    height: 100%;  
    margin: 0;  
    display: flex; /* Using flexbox for centering */  
    justify-content: center; /* Center horizontally */  
    align-items: center; /* Center vertically */  
    text-align: center;  
}  

.table-structure {  
    max-width: 400px;  
    padding: 20px;  
    border-radius: 5px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}

.separator {  
    width: 0.5px; /* عرض خط */  
    background-color: rgb(175, 170, 170);
}

.image-register
{
    width: 300px;
}

input[type="text"],  
input[type="password"],  
input[type="email"] {  
    border: 1px solid #ccc;  
    border-top: 0;  
    border-left: 0;  
    border-right: 0;  
    margin-bottom: 20px;  
    margin-top: 20px;  
}  

input:focus {  
    outline: none;  
    border-color: #4CAF50;  
}