input[type="text"],
input[type="password"],
input[type="email"]
{
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

input:focus
{
    outline: none;
    border-color: #4CAF50;
}